<div class="col-md-6">
  <% if game.errors.any? %>
    <div class="alert alert-error alert-danger">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <p><%= pluralize(game.errors.count, "error") %> stopped us from setting up your game.</p>
      <ul>
        <% game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for game do |f| %>
    <div class="form-group">
      <%= f.label :name, "Name of Game" %> Try to make it unique so we can find your game later!
      <%= f.text_field :name, class:"form-control" %><br>
    </div>
    <% id = 1 %>
    <%= f.fields_for :players do |player_form| %>
      <div class="form-group">
        <%= player_form.label :name, "Player #{id} Name" %>
        <%= player_form.text_field :name,  class:"form-control" %>
      </div>
      <% id += 1 %>
    <% end %>
    <%= f.submit "Create Game", class:"btn btn-primary" %>
  <% end %>
</div>
