<div class="text-center">
  <h1><%= @game.name %>'s Game, # <%= @game.id %></h1>
  <div class="main">
    <div class="table">
      <div class="board">
        <div id="player-one">
          <%= display_player(@game.players[0]) %>
        </div>

        <div id="player-two">
          <%= display_player(@game.players[1]) %>
        </div>
      </div>
    </div>
    <div class="winner">
      <%= @game.winner.name %> Won with <%= @game.winner.current_hand_rank %>!
    </div>
  </div>

  <%= link_to "Deal Another Hand?", game_hands_path(@game), class:"btn btn-success btn-lg", method: :post %>

</div>
